<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pussinboots.morning.order.mapper.OrderProductMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.pussinboots.morning.order.entity.OrderProduct">
		<id column="order_product_id" property="orderProductId" />
		<result column="order_id" property="orderId" />
		<result column="product_number" property="productNumber" />
		<result column="name" property="name" />
		<result column="pic_img" property="picImg" />
		<result column="product_spec_number" property="productSpecNumber" />
		<result column="product_spec_name" property="productSpecName" />
		<result column="price" property="price" />
		<result column="score" property="score" />
		<result column="buy_number" property="buyNumber" />
		<result column="product_score" property="productScore" />
		<result column="product_amount" property="productAmount" />
		<result column="comment_status" property="commentStatus" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_product_id AS orderProductId, order_id AS orderId, product_number AS productNumber, name, pic_img AS picImg, product_spec_number AS productSpecNumber, product_spec_name AS productSpecName, price, score, buy_number AS buyNumber, product_score AS productScore, product_amount AS productAmount, comment_status AS commentStatus
    </sql>
    
    <!-- 创建订单明细表 -->
    <insert id="insertProducts">
    	INSERT INTO os_order_product(
	    	order_id, 
	    	product_number, 
	    	name, 
	    	pic_img, 
	    	product_spec_number, 
	    	product_spec_name,
	    	price, 
	    	score, 
	    	buy_number,
	    	product_score,
	    	product_amount
    	)
    	VALUES
    	<foreach collection="shoppingCartVOs" item="shoppingCart" separator=",">
    		(#{orderId},
    		#{shoppingCart.productNumber},
    		#{shoppingCart.name},
    		#{shoppingCart.picImg},
    		#{shoppingCart.productSpecNumber},
	    	#{shoppingCart.productSpecName},
    		#{shoppingCart.price},
    		#{shoppingCart.score},
    		#{shoppingCart.buyNumber},
    		#{shoppingCart.productScore},
    		#{shoppingCart.productAmount})
    	</foreach>
    </insert>

	<select id="listByPage" resultType="org.pussinboots.morning.order.entity.OrderProduct">
		SELECT
		order_product_id as orderProductId,
		order_id as orderId,
		product_number as productNumber,
		name,
        pic_img as picImg,
		product_spec_number as productSpecNumber,
		product_spec_name as productSpecName,
		price,
		score,
		buy_number as buyNumber,
		product_score as productScore,
		product_amount as productAmount,
		comment_status as commentStatus
		FROM
		os_order_product
		<where>
			order_id = #{orderId}
			<if test="search != null">
				AND (
                product_number LIKE '%' #{search} '%'
				OR name LIKE '%' #{search} '%'
				OR product_spec_name LIKE '%' #{search} '%'
				OR price LIKE '%' #{search} '%'
				OR buy_number LIKE '%' #{search} '%'
				OR product_amount LIKE '%' #{search} '%'
				)
			</if>
			<if test="pageInfo.sort != null">
				ORDER BY ${pageInfo.sort} ${pageInfo.order}
			</if>
		</where>
	</select>

	<select id="listByOrderId" resultType="org.pussinboots.morning.order.entity.OrderProduct">
		SELECT
		order_product_id as orderProductId,
		order_id as orderId,
		product_number as productNumber,
		name,
		pic_img as picImg,
		product_spec_number as productSpecNumber,
		product_spec_name as productSpecName,
		price,
		score,
		buy_number as buyNumber,
		product_score as productScore,
		product_amount as productAmount,
		comment_status as commentStatus
		FROM
		os_order_product
		<where>
			order_id = #{orderId}
		</where>
	</select>
</mapper>
