<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pussinboots.morning.product.mapper.ProductMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.pussinboots.morning.product.entity.Product">
		<id column="product_id" property="productId" />
		<result column="product_number" property="productNumber" />
		<result column="label_id" property="labelId" />
		<result column="name" property="name" />
		<result column="show_score" property="showScore" />
		<result column="show_price" property="showPrice" />
		<result column="introduce" property="introduce" />
		<result column="pic_img" property="picImg" />
		<result column="show_in_top" property="showInTop" />
		<result column="show_in_nav" property="showInNav" />
		<result column="show_in_hot" property="showInHot" />
		<result column="show_in_shelve" property="showInShelve" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="shelve_time" property="shelveTime" />
		<result column="shelve_by" property="shelveBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="search_key" property="searchKey" />
		<result column="page_title" property="pageTitle" />
		<result column="page_description" property="pageDescription" />
		<result column="page_keyword" property="pageKeyword" />
		<result column="remarks" property="remarks" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_id AS productId, product_number AS productNumber, label_id AS labelId, name, show_price AS showPrice, introduce, pic_img AS picImg, show_in_top AS showInTop, show_in_nav AS showInNav, show_in_hot AS showInHot, show_in_shelve AS showInShelve, create_time AS createTime, create_by AS createBy, shelve_time AS shelveTime, shelve_by AS shelveBy, update_time AS updateTime, update_by AS updateBy, search_key AS searchKey, page_title AS pageTitle, page_description AS pageDescription, page_keyword AS pageKeyword, remarks
    </sql>

	<select id="getIdByNumber" resultType="Long">
		SELECT
		p.product_id
		FROM
		os_product p
		WHERE
		product_number = #{productNumber}
	</select>

    <!-- 根据商品编号和状态查找商品 -->
	<select id="getByNumber" resultType="org.pussinboots.morning.product.pojo.vo.ProductVO">
		SELECT
	        p.product_id AS productId, 
	        product_number AS productNumber, 
	        name, 
	        show_score AS showScore, 
	        show_price AS showPrice, 
	        introduce, 
	        pic_img AS picImg, 
	        page_title AS pageTitle, 
	        page_description AS pageDescription, 
	        page_keyword AS pageKeyword, 
   	        label_name AS labelName,
   	        description
   	    FROM
   	    	os_product p
   	    LEFT JOIN os_product_detail d ON p.product_id = d.product_id
   	    LEFT JOIN (
	    	SELECT
	    		label_id,
	    		label_name
	    	FROM
	    		os_label
	    	WHERE
	    		status = #{status}
	    ) l ON p.label_id = l.label_id
		WHERE
			product_number = #{productNumber}
		AND	show_in_shelve = #{status}	
	</select>

	<select id="listByPage" resultMap="BaseResultMap">
		SELECT
			product_id,
			product_number,
			label_id,
			name,
			show_score,
			show_price,
			introduce,
			pic_img,
			show_in_top,
			show_in_nav,
			show_in_hot,
			show_in_shelve,
			create_time,
			create_by,
			shelve_time,
			shelve_by,
			update_time,
			update_by,
			search_key,
			page_title,
			page_description,
			page_keyword
		FROM
		os_product
		<where>
			1=1
			<!--<if test="search != null">
				AND (
				product_number LIKE '%' #{search} '%'
				OR label_id LIKE '%' #{search} '%'
				OR name LIKE '%' #{search} '%'
				OR show_score LIKE '%' #{search} '%'
				OR show_price LIKE '%' #{search} '%'
				OR introduce LIKE '%' #{search} '%'
				OR create_time LIKE '%' #{search} '%'
				OR update_time LIKE '%' #{search} '%'
				OR show_in_shelve LIKE '%' #{search} '%'
				)
			</if>
			<if test="pageInfo.sort != null">
				ORDER BY ${pageInfo.sort} ${pageInfo.order}
			</if>-->
		</where>
	</select>

	<select id="getByProductId" resultMap="BaseResultMap">
		SELECT
			product_id,
			product_number,
			label_id,
			name,
			show_score,
			show_price,
			introduce,
			pic_img,
			show_in_top,
			show_in_nav,
			show_in_hot,
			show_in_shelve,
			create_time,
			create_by,
			shelve_time,
			shelve_by,
			update_time,
			update_by,
			search_key,
			page_title,
			page_description,
			page_keyword
		FROM
		os_product
		WHERE
		product_id = #{productId}
	</select>

	<insert id="insertProduct" parameterType="org.pussinboots.morning.product.entity.Product">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="productId">
			SELECT LAST_INSERT_ID();
		</selectKey>
		INSERT INTO
		os_product(
			product_number,
			label_id,
			name,
			show_score,
			show_price,
			introduce,
			pic_img,
			show_in_top,
			show_in_nav,
			show_in_hot,
			show_in_shelve,
			create_time,
			create_by,
			shelve_time,
			shelve_by,
			update_time,
			update_by,
			search_key,
			page_title,
			page_description,
			page_keyword
		)VALUES (
			#{productNumber},
			#{labelId},
			#{name},
			#{showScore},
			#{showPrice},
			#{introduce},
			#{picImg},
			#{showInTop},
			#{showInNav},
			#{showInHot},
			#{showInShelve},
			#{createTime},
			#{createBy},
			#{shelveTime},
			#{shelveBy},
			#{updateTime},
			#{updateBy},
			#{searchKey},
			#{pageTitle},
			#{pageDescription},
			#{pageKeyword}
		)
	</insert>
</mapper>
